.header-container {
    padding: 5px;
    background-color: #64C4C7;
    min-height: 12vh;
    max-height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #F5E2DB;
  }

  .user-menu {
    padding-left: 20px;
  }

  .user-menu img {
    min-height: 60px;
    max-height: 65px;
    min-width: 60px;
    max-width: 65px;
    border-radius: 50%;
  }

  .main-menu img {
    min-height: 40%;
    max-height: 75px;
    min-width: 40%;
    max-width: 140px;
    /* max-height: 65px; */
    /* width: 55px; */
  }

  .matches-menu {
    padding-right: 20px;
  }

  .matches-menu img {
    min-height: 40px;
    max-height: 45px;
    min-width: 40px;
    max-width: 45px;
    /* fill: whitesmoke; */
  }